<a href="https://colab.research.google.com/github/HossamSaoud/MachineLearning_Notebooks/blob/main/50startups.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder,MinMaxScaler
from sklearn.compose import ColumnTransformer
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score,mean_absolute_error,mean_absolute_percentage_error,mean_squared_error

In [2]:
dataset=pd.read_csv("/content/drive/MyDrive/50_Startups.csv")

In [3]:
dataset.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [4]:
nans=dataset.isna().sum().sum()
nans

1

In [5]:
dataset.dropna(inplace=True)

In [6]:
dataset.describe()

           R&D Spend  Administration  Marketing Spend         Profit
count      49.000000       49.000000        49.000000      49.000000
mean    73462.471020   120688.119796    215331.732449  111792.961224
std     46340.970977    27916.867501    119665.391550   40693.618302
min         0.000000    51283.140000         0.000000   14681.400000
25%     38558.510000   103057.490000    134050.070000   89949.140000
50%     72107.600000   122616.840000    214634.810000  107404.340000
75%    101913.080000   144135.980000    299737.290000  141585.520000
max    165349.200000   182645.560000    471784.100000  192261.830000

In [7]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 49 entries, 0 to 49
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   R&D Spend        49 non-null     float64
 1   Administration   49 non-null     float64
 2   Marketing Spend  49 non-null     float64
 3   State            49 non-null     object
 4   Profit           49 non-null     float64
dtypes: float64(4), object(1)
memory usage: 2.3+ KB

In [8]:
#Seperate the dataset into train(x),target(y)
x=dataset.iloc[:,:-1]
y=dataset.iloc[:,-1]

In [9]:
#Handling categorical data using one hot encoder
ct=ColumnTransformer(transformers=[('encoder',OneHotEncoder(),[3])],remainder='passthrough')

In [10]:
x_categorical=np.array(ct.fit_transform(x))

In [11]:
#Standardizing the data
scaler=MinMaxScaler()
x_std=scaler.fit_transform(x_categorical)

In [12]:
#splitting the dataset into 75% train,25% test
x_train,x_test,y_train,y_test=train_test_split(x_std,y,test_size=0.25,random_state=0)

In [13]:
LR=LinearRegression()
LR.fit(x_train,y_train)

LinearRegression()

In [14]:
y_pred=LR.predict(x_test)

In [15]:
#trying out different metrics:
rsquared=r2_score(y_test,y_pred)
MSE=mean_squared_error(y_test,y_pred)
MAPSE=mean_absolute_percentage_error(y_test,y_pred)
MAE=mean_absolute_error(y_test,y_pred)
RMSE=mean_squared_error(y_test,y_pred,squared=False)
print(f'rsqaured={round(rsquared*100,2)}%')
print(f'MSE={round(MSE,2)}')
print(f'MAPE={round(MAPSE*100,2)}%')
print(f'MAE={round(MAE,2)}')
print(f'RMSE={round(RMSE,2)}')

rsqaured=92.65%
MSE=59328605.3
MAPE=5.88%
MAE=6320.51
RMSE=7702.51